<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.itemholder">

    <application>
        <provider
            android:name="com.sd.lib.itemholder.ApplicationContentProvider"
            android:authorities="${applicationId}.f-appprovider-itemholder"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>